:root {
    /*
    --skin-color: #37b182; green
    */
    --skin-color: #2E7D32; /* Vert doux pour un meilleur contraste */
}

body.dark {
    --skin-color: #4caf50; /* Utiliser la même couleur en mode sombre */
}