:root {
    /*
    --skin-color: #f021b2; pink
    */
    --skin-color: #C2185B; /* Rose doux pour un meilleur contraste */
}

body.dark {
    --skin-color: #F254C3; /* Utiliser la même couleur en mode sombre */
}