:root {
    /*
    --skin-color: #ec1839; red
    */
    --skin-color: #C0392B; /* Rouge doux pour un meilleur contraste */
}

body.dark {
    --skin-color: #FB6F6A; /* Utiliser la même couleur en mode sombre */
}